[Unit]
Description=Cpu-Mining-xzc

[Service]
Type=oneshot
ExecStart=/home/ubuntu/cpuminer -a lyra2z -o stratum+tcp://us-east.zcoin.miningpoolhub.com:20581 -u supichai.B2-azure -p x

[Install]
WantedBy=multi-user.target
